@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.font-chewy {
  font-family: "Chewy", system-ui;
  font-weight: 400;
  font-style: normal;
}

  @media (prefers-color-scheme: dark) {
    .svg-body {
      stroke: white; /* Change color on hover and active */
      fill:white; 
      color:white;
      }
      a:active {
      stroke: #14b8a6 !important; /* Change color on hover and active */
      fill:#14b8a6 !important;
      color:#14b8a6 !important;
   }
  
  }

.svg-body:hover , a:active {
    stroke: #14b8a6; /* Change color on hover and active */
    fill:#14b8a6;
    color:#14b8a6;
 }